@model For_Realty.ViewModels.ListFavoritesViewModel

@{
    ViewData["Title"] = "Verlanglijstje";
}

<h1 class="my-4 text-center">Mijn verlanglijstje</h1>
@if (Model.Favorites.Count() == 0)
{
    <div class="row d-flex flex-row justify-content-center align-items-center my-5">
        <p class="emp-fav">Je verlanglijstje is leeg</p>
        <img src="~/images/gnu-161336_1280.png" class="img-fluid nofav-img" />
    </div>
}
else
{
    <div class="d-flex flex-column align-items-center justify-content-center">
        <p class="emp-fav mb-3">Je hebt @(Model.Favorites.Count())&nbsp;@(Model.Favorites.Count() == 1 ? "pand" : "panden") opgeslagen in je verlanglijstje!</p>
        @foreach (var favorite in Model.Favorites)
        {
            <div class="card card-fav mb-4">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="@(favorite.RealEstate.RealEstatePictures.Where(re => re.Title == "Front").SingleOrDefault().FileName)"
                             class="card-img-top card-img-index" alt="picture of estate with code @(favorite.RealEstate.Code)" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body text-left p-3">
                            <div class="row pt-0 mb-2 align-items-center">
                                <div class="col-6">
                                    <p class="card-title">@(favorite.RealEstate.RealEstateSubtype.RealEstateType.Name)</p>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <img src="@(favorite.RealEstate.Agency.Logo)" class="card-logo-fav mt-0 pt-0" />
                                </div>

                            </div>
                            <div class="row mb-1">
                                <div class="col-6">
                                    <p class="card-text">@(favorite.RealEstate.RealEstateStatus.Status)</p>
                                </div>
                                @if (favorite.RealEstate.AmountBedrooms != null)
                                {
                                    <div class="col-6">
                                        <p class="card-text text-right">@(favorite.RealEstate.AmountBedrooms.ToString())&nbsp;slpk</p>
                                    </div>
                                }
                            </div>
                            <div class="row mb-1">
                                <div class="col-6">
                                    <p class="card-text">@(favorite.RealEstate.Town.Name) - @(favorite.RealEstate.Town.ZIP) </p>
                                </div>
                                <div class="col-6">
                                    <p class="card-text text-right">@(favorite.RealEstate.AreaSpace.ToString())&nbsp;m²</p>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-6">
                                    <p class="card-text">@(favorite.RealEstate.Street)&nbsp;@(favorite.RealEstate.HouseNr)</p>
                                </div>
                                <div class="col-6">
                                    <p class="card-text text-right font-weight-bold">&euro; @(favorite.RealEstate.Price.ToString("N0"))&nbsp;</p>
                                </div>
                            </div>
                            <div class="row d-flex flex-row mt-4">
                                <div class="col-6">
                                    <a asp-controller="RealEstate" asp-action="Details" asp-route-id="@(favorite.RealEstateID)" class="btn btn-primary btn-submit">Bekijken</a>
                                </div>
                                <div class="col-6 text-right">
                                    <form asp-action="Delete" asp-controller="Favorite" asp-route-realEstateID="@(favorite.RealEstateID)">
                                        <input type="hidden" asp-for="@(favorite.UserAccountID)" />
                                        <input type="hidden" asp-for="@(favorite.RealEstateID)" />
                                        <input type="submit" value="Verwijderen" class="btn btn-outline-danger font-weight-bold" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

}

