@model For_Realty.Models.Ad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateInit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateInit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requirements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requirements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Radius)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Radius)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.Givenname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Town.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealEstateType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealEstateType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealEstateSubtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealEstateSubtype.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealEstateStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealEstateStatus.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AdID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
