@model For_Realty.ViewModels.EditAdViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center my-4">Zoekertje wijzigen</h1>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <form asp-action="Edit" asp-controller="Ad" class="d-flex flex-column align-items-center justify-content-center form-create-ad">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ad.AdID" />
            <input type="hidden" asp-for="Ad.UserAccountID" />

            @using (Html.BeginForm())
            {
                <div class="form-group mx-0">
                    @foreach (var status in Model.StatusList)
                    {
                        @*<label class="radio">
                                <input name="status" type="radio" asp-for="SelectedStatus" data-bind="@Model.SelectedStatus" checked="@(status.Status == "Te koop" ? true : false)"
                                       value="@(status.Status)" id="@(status.Status)" />
                                <span>@status.Status</span>
                            </label>*@
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.SelectedStatus, status.RealEstateStatusID)
                            <span>@(status.Status == "Te koop" ? "Kopen" : "Huren") </span>
                        </label>
                    }


                </div>
                <div class="form-group mb-4">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <div class="input-group-prepend">
                            <label asp-for="Ad.TownID" class="control-label mr-3 pt-2">Gemeente: </label>
                        </div>
                        <select asp-for="Ad.TownID" asp-items="Model.Towns" class="custom-select form-town"></select>
                    </div>
                    <span asp-validation-for="Ad.TownID" class="text-danger mt-2"></span>
                </div>

                <div class="form-group mb-4">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <label asp-for="Ad.Radius" class="control-label mr-3 pt-2">Radius: </label>
                        <div class="input-icon input-icon-right input-rad">
                            <input asp-for="Ad.Radius" max="999" min="0" onkeyup="if(parseInt(this.value)>999){ this.value =999; return false; }"
                                   class="form-control text-left pl-2" />
                            <i>km</i>
                        </div>
                    </div>
                    <span asp-validation-for="Ad.Radius" class="text-danger mt-2"></span>
                </div>

                <div class="form-group mb-4">
                    <div class="d-flex flex-row justify-content-center align-items-center">

                        <div class="input-group-prepend">
                            <label asp-for="Ad.RealEstateTypeID" class="control-label mr-3 pt-2">Type: </label>
                        </div>
                        <select asp-for="Ad.RealEstateTypeID" asp-items="Model.Types" class="custom-select inputbox"></select>
                    </div>
                    <span asp-validation-for="Ad.RealEstateTypeID" class="text-danger  mt-2"></span>
                </div>

                <div class="form-group mb-4">
                    <div class="d-flex flex-row justify-content-center align-items-center">

                        <label asp-for="Ad.Price" class="control-label mr-3 pt-2">Max prijs/huur:</label>
                        <div class="input-icon">
                            <input class="form-control form-price inputbox" asp-for="Ad.Price" asp-format="{0:N}" />
                            <i>&euro;</i>
                        </div>
                    </div>
                    <span asp-validation-for="Ad.Price" class="text-danger justify-content-end mt-2"></span>
                </div>

                <div class="form-group form-crit mb-4">
                    <textarea asp-for="Ad.Requirements" rows="6" placeholder="Andere criteria" class="form-control inputbox"></textarea>
                    <span asp-validation-for="Ad.Requirements" class="text-danger mt-2"></span>
                </div>

                <div class="d-flex flex-row align-items-center justify-content-center">
                    <div class="form-group my-2 mr-4">
                        <input type="submit" value="Opslaan" class="btn btn-primary btn-submit" />
                    </div>
                    <div>
                        <a asp-action="Index" class="btn btn-outline-danger font-weight-bold">Annuleren</a>
                    </div>
                </div>
            }
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
