@model For_Realty.Models.Agency
 
<div class="card card-agency">
    <div class="row no-gutters my-0">
        <div class="col-3 align-middle">
            <img src="@Model.Logo" class="card-img img-fluid" alt="Logo @Model.Name">
        </div>
        <div class="col-9">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 align-content-center">
                        <h2 class="card-title agency-title">@Model.Name</h2>
                    </div>
                    <div class="col-6 align-content-end">
                        <a class="card-text text-right  agency-card-link" href="mailto:@Model.Mail">@Model.Mail</a>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-6">
                        <p class="card-text">@Model.City&nbsp;@Model.ZIP</p>
                    </div>
                    <div class="col-6">
                        <a class="card-text text-right agency-card-link" href="tel:@Model.Phone">@Model.Phone</a>
                    </div>
                </div>
                <div class="row align-bottom align-text-bottom mt-1">
                    <div class="col-6">

                        <p class="card-text">@Model.RealEstates.Count()&nbsp;@(Model.RealEstates.Count() != 1 ? "panden" : "pand")</p>
                    </div>
                    <div class="col-6">

                        <a class="card-text text-right agency-card-link" href="@Model.Website">@Model.Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
