@model IEnumerable<For_Realty.Models.UserAccount>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Givenname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Givenname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserAccountID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserAccountID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserAccountID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
